.add-user-form {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
}

.add-user-form label {
  display: block;
  margin-bottom: 0.5rem;
  color: white;
  font-weight: bold;
}

.add-user-form input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font: inherit;
}

.add-user-form input:focus {
  outline: none;
  border-color: #4f005f;
}

.add-user-form button {
  padding: 1rem 2rem;
  background-color: #40005d;
  border: 1px solid #40005d;
  border-radius: 12px;
  color: white;
  font: inherit;
  cursor: pointer;
}

.add-user-form button:hover,
.add-user-form button:active {
  background-color: #510674;
  border-color: #510674;
}

.form-controls {
  margin-bottom: 2rem;
}

.form-actions {
  text-align: right;
}
